<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/flatiron-director/flatiron-director.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="meteor-status.html">
<polymer-element name="polymeteor-app">

  <template>
    <style>
      core-animated-pages {
        width: 85%;
        height: 85%;
        -webkit-user-select: none;
        overflow: hidden;
      }

      core-animated-pages > * {
        border-radius: 5px;
        font-size: 50px;
        background-color: white;
      }

      core-toolbar, ::shadow core-toolbar {
        background-color: #03a9f4;
        color: #fff;
      }

      core-toolbar core-item {
        font-size: 16px;
      }

      core-menu {
        color: #01579b;
        margin: 10px 0 0 0;
      }

      core-menu > paper-item {
        transition: all 300ms ease-in-out;
      }

      paper-item a {
        text-decoration: none;
        color: currentcolor;
        margin-left: 5px;
      }

      core-menu > paper-item.core-selected {
        background: #e1f5fe;
      }

      @media all and (max-width: 480px) {
        core-animated-pages {
          width: 100%;
          height: 100%;
        }
      }
      ul{
        padding: 0;
        list-style-type: none;
      }
      .content{
        position: absolute;
        z-index: 2;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 40%;
        left: 0;
      }
      .hero-two{
        background-color: rgba(0, 123, 202, .4);
        width: 100%;
        height: 20%;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 10px black,
                   -1px -1px 20px grey,
                   inset 0 0 20px #003488;
        background-image: url('../pic1.jpg');
      }
      .hero-one{
        background-image: url('../pic1.jpg');
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(240, 45, 0, .6);
        width: 100%;
        height: 20%;
        box-shadow: 0 0 10px black,
                    1px 1px 20px grey,
                    10px 10px 20px #efefef,
                    inset -1px -1px 10px white,
                    inset -10px -10px 20px #afafaf;
      }
      .hero-three{
        position: absolute;
        z-index: 0;
        top: 25%;
        left: 25%;
        background-color: rgba(0, 200, 100, .3);
        width: 50%;
        height: 50%;
        border-radius: 50%;
        box-shadow: inset 0 0 20px white,
                    10px 10px 20px black;
      }
      .hero-four{
        color: white;
        border-radius: 0;
        position: absolute;
        right: 25%;
        top: 25%;
        background-color: rgba(60, 20, 100, .6);
        height: 50%;
        width: 50%;
        box-shadow: inset 0 0 20px black;
      }
      .hero-five{
        position: absolute;
        background-image: url('../pic2.jpg');
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(30, 30, 30, .4);
      }
    </style>

    <meteor-status status="{{status}}"></meteor-status>

    <!-- Route controller. -->
    <flatiron-director route={{router}}></flatiron-director>

    <core-scaffold id="scaffold">

      <nav>
        <core-toolbar>
          <span>Single Page Polymer</span>
        </core-toolbar>
        <core-menu valueattr="hash" selected="{{route}}" selectedModel="{{selectedPage}}"
                   on-core-select="{{menuItemSelected}}">
          <template repeat="{{page, i in pages}}">
            <paper-item hash="{{page.hash}}" noink>
              <core-icon icon="label{{route != page.hash ? '-outline' : ''}}"></core-icon>
              <a href="#{{page.hash}}">{{page.name}}</a>
            </paper-item>
          </template>
        </core-menu>
      </nav>

      <core-toolbar tool flex>
        <div flex>{{selectedPage.page.name}}</div>
        <core-item icon="{{status.connected ? 'cloud-done' : 'cloud-off'}}" label="{{status.status}}"></core-item>
      </core-toolbar>

      <div layout horizontal center-center fit>
        <core-animated-pages id="pages" selected="{{route}}" valueattr="hash"
                             transitions="cross-fade-all hero-transition"
                             on-tap="{{cyclePages}}">
          <template repeat="{{page, i in pages}}">
            <section hash="{{page.hash}}" layout vertical center-center>
              <div class="{{page.hero}}" hero-id='shared' hero></div>
              <div class='content'>
              <div>{{page.name}}</div>
              <template bind="{{items.lastUpdate | getItems}}">
                <ul>
                  <template repeat>
                  <li>{{name}}</li>
                  </template>
                </ul>
              </template>
              </div>
            </section>
          </template>
        </core-animated-pages>
      </div>

    </core-scaffold>
  </template>
  <script>
    var router = Router({
      autoHash: true,
      '/user': {
        '/:id': {
          on: function(id){
            console.log(id);
          }
        }
      },
      notFound: function(){
        console.log('not Found');
      }
    });
    Polymer('polymeteor-app', {
      ready: function () {
        router.init();
        var items = this.items;
        this.items.observeChanges(  //Observe the change of cursor and update a field
        {
          added: function(id, fields) {
            console.log("Item added");
            items.lastUpdate = new Date();
          },
          changed: function(id, fields) {
            console.log("Item changed");
            items.lastUpdate = new Date();
          },
          removed: function(id, fields) {
            console.log("Item deleted");
            items.lastUpdate = new Date();
          }
        });
      },
      items: Items.find(),
      getItems : function() {
        return Items.find().map(function(p) { return {id: p.id, name: p.name}})
      },
      pages: [
        {name: 'polymer', hash: 'one', hero: 'hero-one'},
        {name: 'transitions', hash: 'two', hero: 'hero-two'},
        {name: 'are', hash: 'three', hero: 'hero-three'},
        {name: 'nice', hash: 'four', hero: 'hero-four'},
        {name: 'Polymer', hash: 'five', hero: 'hero-five'}
      ],
      menuItemSelected: function (e, detail, sender) {
        if (detail.isSelected) {
          this.$.scaffold.closeDrawer();
        }
      }
    });
  </script>
</polymer-element>
